/* Empty. Add your own CSS if you like */
.grass{
	background-image: url('../img/startscreen.png');
	/*background-image: url('img/grassTile01.jpg'); */
	background-repeat: repeat-y;
}

#test{
	color:red !important;
}

.welcomeButtons {

    animation-name: example;
    animation-duration: 4s;


@keyframes example {
    0%   {background-color: red;}
    25%  {background-color: yellow;}
    50%  {background-color: blue;}
    100% {background-color: green;}