<!DOCTYPE html>
<html>
    <head>
    
    <link rel="stylesheet" href="/static/style.css">
    
    </head>
    <body>

    <h1>Welcome</h1>

    <p>This is the back-end API for the <a href="https://github.com/codethecity/fly">FLY</a> project at <a href="http://codethecity.org">codethecity</a></p>        

    <h2>API</h2>
    
    <p><em>GET /api/quest/list/</em> - list of five notable natural things</p>

    <p><em>POST /api/find/</em> - send a JSON document representing a find.</p>

    <p><em>GET /api/finds/recent</em> - look at recent finds</p>

    <p><em>POST /api/user/</em> - send a JSON document representing a user</p>

    <p><em>GET /api/quest/ </em> - not implemented - get the latest quest</p>
    </body>
</html>
