<!-- <div class="bar bar-subheader bar-royal">
	<h2 class="title">Are You Ready?</h2>
</div> -->
<ion-view view-title="Challenges">

    <ion-content style="background-image: url('img/grassTile01.jpg'); background-repeat: repeat-y;" class="grass">
    <div class="bar bar-header bar-royal">
  		<h1 class="title">Are You Ready?</h1>
		</div>
		<br/>
		<br/>
    <!-- <button ng-click="redirect('trophyroom')" class="button button-calm" >Trophyroom</button> -->
		<!-- <button ng-click="redirect('welcome')" class="button button-calm" >Back</button> -->
    <!-- <button ng-click="redirect('leaderboard')" class="button button-calm" >Leaderboard</button> -->
    <br/>
    <br/>
    <div class="card">
	  <div class="item item-text-wrap">
	    The next quest will be available in {{timer}}
	  </div>
	</div>




		<div class="card">
		<div class="row">
		  <div class="col col-top"><img src="{{image}}"></div>
		  <div class="col col-center">
		 
		  	
		  </div>
		  <div class="col col-bottom"> Are you ready for a challenge {{username}}?</div>
		</div>
	</div>

	<div class="card">


		<div class="row">
		  <div class="col col-top"></div>
		  <div class="col col-center">
		  	<button ng-click="redirect('questroom')" ng-disabled="isDisabled" class="button button-balanced">  
	  			Get Quest
				</button>
		  </div>
		  <div class="col col-bottom"></div>
		</div>


	</div>
	  	


	  </div>
	</div>



  </ion-content>
</ion-view>
