<div class="bar bar-subheader bar-assertive">
  <h2 class="title">Pick a Quest!</h2>
</div>
<ion-view view-title="Quest room" >
  <ion-content class="has-subheader tile">
	<!-- <ul class="list"> -->
    <!-- <li class="item"> -->
    	<div class="card" style="margin-top:2px; margin-bottom:2px; opacity:0.6;">

			  <div class="item item-divider">

					<div style="text-align:center;">
						<button class="button button-balanced" ng-click="picture()">
					  	Take picture of {{item["Common name"]}} 
						</button>
						<!-- <button ng-click="redirect('challenges')" class="button button-royal button-full" >Challenges</button> -->
							<button ng-click="redirect('map')" class="button button-calm ion-map">
					  	Map
						</button>
					</div>


			  </div>
			</div>
    <!-- </li> -->
</ul>
		
	</div>






  </ion-content>
</ion-view>