<div class="bar bar-subheader bar-energized">
  <h2 class="title">Achievements</h2>
</div>

<ion-view view-title="Trophyroom">
  <ion-content  
  	class="has-subheader"
  	style="background-image: url('img/grassTile01.jpg'); background-repeat: repeat-y;">
    
  
    <div class="card">
	  <div class="item item-text-wrap">
	  <div class="item item-divider">
    	<h3>  <b class="text-wrap">Score</b> 6,050</h3>
  	</div>
	 
	    		<div class="list">

	    <a class="item item-avatar" style="background-color: rgb(210, 230, 208); border: 1px solid gray;" href="#">
	      <img src="http://www.cherrypickedinsurance.com/images/layout/big-cherry.gif">
	      <h2>Cherry</h2>
	      <p>Unlocked on 01-01-14 <br/><b>50 points!</b></p>
	    </a>
	    
	    <a class="item item-avatar" style="background-color: rgb(210, 230, 208);  border: 1px solid gray;"  href="#">
	      <img src="http://img1.wikia.nocookie.net/__cb20120909005919/elderscrolls/images/3/3b/Jug_000f08f1.png">
	      <h2>Cherry</h2>
	      <p>Unlocked on 17-10-13  <br/><b> 2,000 points!</b></p>
	    </a>

	    <a class="item item-avatar" style="background-color: rgb(210, 230, 208);  border: 1px solid gray;"  href="#">
	      <img src="http://www.jonesorchard.com/images/halloween_party_hat.png">
	      <h2>Cherry</h2>
	      <p>Unlocked on 17-10-13  <br/><b> 5,000 points!</b></p>
	    </a>

		</div>
	  </div>
	</div>
  </ion-content>
</ion-view>