<ion-view view-title="Trophyroom">
  <ion-content>
    <h1>Trophyroom</h1>
      <hr> 
    <br/>
    <h3>  <b>Score</b> 6,050</h3>
  
    <br/>
		<!-- <button ng-click="redirect('welcome')" class="button button-calm" >Back</button> -->

		<div class="list">

	    <a class="item item-avatar" href="#">
	      <img src="http://www.cherrypickedinsurance.com/images/layout/big-cherry.gif">
	      <h2>Cherry</h2>
	      <p>On 01-01-14 You unlocked a cherry! <br/><b>50 points!</b></p>
	    </a>
	    
	    <a class="item item-avatar" href="#">
	      <img src="http://img1.wikia.nocookie.net/__cb20120909005919/elderscrolls/images/3/3b/Jug_000f08f1.png">
	      <h2>Cherry</h2>
	      <p>On 17-10-13 You unlocked a Jug! <br/><b> 2,000 points!</b></p>
	    </a>

	    <a class="item item-avatar" href="#">
	      <img src="http://www.jonesorchard.com/images/halloween_party_hat.png">
	      <h2>Cherry</h2>
	      <p>On 17-10-13 You unlocked a Party Hat! <br/><b> 5,000 points!</b></p>
	    </a>

	    




	    


</div>
    <!-- <button ng-click="redirect('challenges')" class="button button-calm" >Challenges</button> -->
    <!-- <button ng-click="redirect('leaderboard')" class="button button-calm" >Leaderboard</button> -->
  </ion-content>
</ion-view>