<!-- <div class="bar bar-subheader bar-royal"> -->
  <!-- <h2 class="title">USER NAME HERE?</h2> -->
<!-- </div>
 -->
<ion-view view-title="<b>FLY</b>   <i style='color:gray;'>find-learn-you win"</i> />

  <ion-content class="grass">
  <br/>
  <div class="bar bar-header bar-balanced">
  	<h1 class="title">Welcome {{userdata.name}}</h1>
	</div>
	<br/>
	<br/>


	 <div class="card welcomeButtons">
	  <div class="item item-text-wrap">
    	<button ng-click="redirect('challenges')" class="button button-royal button-full" >Challenges</button>
    	<button ng-click="redirect('leaderboard')" class="button button-calm button-full" >Leaderboard</button>
	    <button ng-click="redirect('trophyroom')" class="button button-energized button button-full" >Trophyroom</button>
	  </div>
	</div>

  </ion-content>
</ion-view>
